button:focus{
	background-color: rgb(131,107,223);
	color: white

}
li,nav{
	display: inline;
}
.bton{
	color:rgb(131,107,223);background-color: white;margin-left:97px;border-radius:15px 15px 15px 15px;
}

span:first-letter{
	font-weight: bold;font-family:Helvetica;font-size:30px;color:rgb(131,107,223);margin-left:30px;

}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
}


.boite{
	/*width: 300px;*/
	padding: 20px;
	/*position: absolute;*/
	margin-top:7%;
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
	background:rgb(131,107,223);
	text-align: center;
	border-radius: 6px;
	box-shadow: 10px 10px 7px 2px rgb(131,107,223);
	z-index: 10;
}

.boite h1{
	color: white;
	
	font-weight: 500;
}

.boite input[type="text"],.boite input[type="password"]{

border: 0;
background: white;
display: block;
margin: 20px auto;
text-align: left;
border: 2px solid rgb(131,107,223);
padding: 10px 15px;
width: 50%;
outline: none;
color: rgb(131,107,223);
border-radius: 24px;
transition: 0.25s;	
}

.boite input[type="submit"]{
	border:0;
	background: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid rgb(131,107,223);
	padding: 8px 25px;
	outline: none;
	color:rgb(131,107,223);
	border-radius: 24px;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 1px 1px white;
}

.boite input[type="submit"]:hover{
	background: rgb(131,107,223);
	color: white;

}

.boite a{
	color:white;
	font-size: 15px;
	float: left;
	margin: 25px;		
}

.connexion{
	font-size: 30px;
}